/* ============== 공통 CSS 부문 ============== */
*{ margin: 0px; padding: 0px; } /* 기본 여백들을 제거*/
*{ box-sizing: border-box;} /* 구역 사이즈기준을 테두리까지*/
a{ /* 링크 기본값 제거 */
    text-decoration: none; /* 밑줄제거 */
    color: black; /* 글꼴 색상 */
}
li{ list-style-type: none; }  /* ul 또는 ol 에서 글머리 제거 */
/* ============== 헤더 CSS 부문 ============== */
#header{
    display: flex;  /* 하위 요소 배치 방법 */
    justify-content: space-between; /* 양쪽 끝 균등 가로 정렬*/
    align-items: center; /* 세로 정렬 */
    width: 1280px;
    margin: 10px auto;
}
.top-menu{
    display: flex; justify-content: flex-end;
    margin: 20px 0px;
    font-size: 12px;
}
.top-menu > li{ margin-left: 20px; }
.main-menu{
    display: flex; justify-content: flex-end;
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
}
.main-menu > li{ margin-left: 70px; }

/* ============== 대표이미지 CSS 부문 ============== */
#main-img > img{
    width : 100%;
    /* 100% : 디바이스(화면)의 전체비율 */
}
/* ============== 본문 CSS 부문 ============== */
#main{
    display: flex; /* 하위 요소들의 배치 방법*/
    justify-content: space-between; /* 가로 균등 정렬*/
    width: 1280px; /* 가로 사이즈 */
    margin: 30px auto; /* 가로 가운데 정렬 */
}
.sidebar{ width: 250px; }
.content{ width: 1000px; }
/* ============== 본문 사이드 CSS 부문 ============== */
.sidebar > h3{ 
    background-color: gray;
    color: white;
    padding: 10px; /* 안쪽여백 */
}
.sidebar > ul > li{
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
}
/* ============== 본문 내용 CSS 부문 ============== */
.content > h3{
    font-size: 20px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px; margin-bottom: 20px;
}
.content > img{
    /* img 마크업의 display 기본값은 inline*/
    display: block;
    margin: 0 auto;
}
/* ============== 푸터 CSS 부문 ============== */
#footer{
    background-color: #2c2a29;
    color: white;
}
.footer-inner{
    display: flex;
    justify-content: space-between; /* 양쪽 끝 균등 가로정렬*/
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0px;
}




