/* css 주석 */
/* css 문법 : 선택자 { 무엇을 : 어떻게; } */

/* 1. 제품 구역 */
img{
     width: 400px ;}

.apple{
   border: 1px solid #9ff758;
   text-align: center;
   margin-top: 20px;
   margin: auto 600px;

}

.바구니{
    border-left: 1px solid #02ff74;
    border-bottom: 1px solid #07ff28;
    border-right: 1px solid yellow;
    margin: 0px 600px;
    padding: 10px 15px;
    font-size: 20px;
}

.색상{
    color: rgb(56, 2, 156);
    font-weight: 500;
}

.세트{
    font-size: 30px;
    font-weight: 100px;
    margin-top: 5px;
}