

img{width: 350px;
    height: 400px;}

.공일이{
    text-align: left;
    color: orange;
    margin: 20px 3px;
    font-size: 30px;
}
.공일{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.공이이{
    color: orange;
    font-size: 30px;

}
.공이{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.프로그램{
    border: solid 0px;
    margin-right:  1200px;
    background-color: gray;
    color: white;
    padding: 20px 20px;
    box-shadow: 5px white;
    line-height: 110%;

}
.입문{
    color: orange;
    font-weight: bold;
}

.재미{
    border: solid 0px;
     margin-right:  1200px;
    background-color: gray;
    color: white;
    padding: 20px 20px; 
    box-shadow: 5px white;
    line-height: 110%;
}
.다양{
    color: orange;
    font-weight: bold;
}